<!-- <div *ngIf="root && item.visible !== false" class="layout-menuitem-root-text">
    {{ item.label }}
  </div> -->

@if (root && !item.visible) {
<div
  pRipple
  pStyleClass="@next"
  enterClass="hidden"
  enterActiveClass="slidedown"
  leaveToClass="hidden"
  leaveActiveClass="slideup"
  class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
>
  <span class="font-medium">{{ item.label }}</span>
  <i class="pi pi-chevron-down"></i>
</div>

}

@if((!item.routerLink || item.items) && !item.visible) { }

@if(item.routerLink && !item.items && !item.visible) {
  <a
    pRipple
    class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
    [routerLink]="item.routerLink"
    routerLinkActive="active-route"
  >
    <i [class]="item.icon"></i>
    <span class="font-medium">{{ item.label }}</span>
  </a>
}

@if(item.items && !item.visible) {
  <ul [@children]="submenuAnimation">
    @for (item of item.items; track $index; let i = $index) {
      <li>
        <app-menu-item
          [item]="item"
          [index]="i"
          [parentKey]="key"
          [class]="item.badgeClass"
        ></app-menu-item>

      </li>
    }
  </ul>
}

<!-- <a
    *ngIf="(!item.routerLink || item.items) && item.visible !== false"
    [attr.href]="item.url"
    (click)="itemClick($event)"
    [ngClass]="item.class"
    [attr.target]="item.target"
    tabindex="0"
    pRipple
  >
    <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
    <span class="layout-menuitem-text">{{ item.label }}</span>
    <i
      class="pi pi-fw pi-angle-down layout-submenu-toggler"
      *ngIf="item.items"
    ></i>
  </a>
  <a
    *ngIf="item.routerLink && !item.items && item.visible !== false"
    (click)="itemClick($event)"
    [ngClass]="item.class"
    [routerLink]="item.routerLink"
    routerLinkActive="active-route"
    [routerLinkActiveOptions]="
      item.routerLinkActiveOptions || {
        paths: 'exact',
        queryParams: 'ignored',
        matrixParams: 'ignored',
        fragment: 'ignored'
      }
    "
    [fragment]="item.fragment"
    [queryParamsHandling]="item.queryParamsHandling"
    [preserveFragment]="item.preserveFragment"
    [skipLocationChange]="item.skipLocationChange"
    [replaceUrl]="item.replaceUrl"
    [state]="item.state"
    [queryParams]="item.queryParams"
    [attr.target]="item.target"
    tabindex="0"
    pRipple
  >
    <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
    <span class="layout-menuitem-text">{{ item.label }}</span>
    <i
      class="pi pi-fw pi-angle-down layout-submenu-toggler"
      *ngIf="item.items"
    ></i>
  </a>

  <ul
    *ngIf="item.items && item.visible !== false"
    [@children]="submenuAnimation"
  >
      @for (item of item.items; track $index; let i = $index) {
        <app-menu-item
          [item]="item"
          [index]="i"
          [parentKey]="key"
          [class]="item.badgeClass"
        ></app-menu-item>
      }
  </ul> -->
