@import "assets/layout/styles/layout/layout.css";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.css";
@import "assets/demo/styles/code.css";

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border: 2pt solid transparent;
  border-radius: 3pt;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: var(--surface-300);
  border: 3pt solid transparent;
  background-clip: content-box;
}

/* Elementos de entrada comunes */
.small input,
.small select,
.small textarea {
  height: 30px;
  padding: 4px 8px;
  font-size: 12px;
  box-sizing: border-box;
}

/* Botones */
.small-round button {
  height: 30px;
  width: 30px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 30px;
  box-sizing: border-box;
}

.small button {
  height: 30px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 30px;
  box-sizing: border-box;
}

/* Checkbox */
.small input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

/* Radio button */
.small input[type="radio"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 2px 8px
}
